@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryColor: #00EEDF;
  --blackColor: #090909;
  --whiteColor: #FAFAFA;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--blackColor);
  color: var(--whiteColor);
}

main {
  padding: 0 10%;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
  margin: 40px 0;
}

h2 {
  position: relative;
  font-size: 1.6em;
  width: 100%;
  background-color: var(--primaryColor);
  color: var(--blackColor);
  padding: 10px;
  margin-bottom: -2px;
  z-index: 99;
}

.profile {
  border: 1px solid var(--whiteColor);
  padding: 20px 40px;
  margin-bottom: 40px;
}

.profileForm {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: normal;
  align-items: last baseline;
}

.profileForm button {
  margin: 0 10px;
}

.taxesForm div {
  width: 360px;
}

.p-inline-message {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.p-inline-message-error {
  color: indianred;
}

.p-inline-message-sucess {
  color: var(--primaryColor);
}

.p-inline-message-text {
  margin: 0 10px;
}

/* CALENDAR */

.paidmentForm {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: normal;
  align-items: last baseline;
}

.paidmentForm > div {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: normal;
  align-items: last baseline;
  margin: 0;
}

.paidmentForm button {
  margin: 20px 10px;
}

.p-datepicker {
  background-color: var(--whiteColor);
  color: var(--blackColor);
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 400px;
}

.p-datepicker div {
  width: 95%;
  margin: 0 10px;
}

.p-datepicker-header {
  flex-flow: row;
}

.p-datepicker-title {
  flex-flow: row;
}

.p-datepicker-title button {
  font-size: 1em;
}

.p-datepicker-calendar td {
  padding: 10px;
  cursor: pointer;
}

.p-datepicker-calendar tbody td:hover {
  color: var(--primaryColor);
}