.inscription {
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 680px;
}

.inscription div {
    display: flex;
    flex-flow: column;
    width: 38%;
    margin: 20px;
}

label {
    font-size: 20px;
    margin-bottom: 10px;
}

input {
    border: 1px solid var(--whiteColor);
    background-color: var(--blackColor);
    height: 46px;
    color: var(--whiteColor);
    border-radius: 4px;
    padding: 10px;
}